**/bin
**/obj
**/BuildTarget
**/OneNote_RecycleBin
**/*.cache
**/*.Cache
**/*.suo
**/*.user
**/*.vs
**/*.coverage
**/BundleArtifacts
**/AppPackages
.nuget/*.nupkg
/Reporting/Reports/*.data
mscrmtools2011.config
connections.config
node_modules
/CrmPackage/**/*.js
TypeScripts/src/**/*.js
TypeScripts/src/**/*.js.map
.idea
.vscode
**/local.settings.json